# Clippy configuration

# Allow mixed inlined and uninlined format args
# Enables new syntax while retaining old syntax
allow-mixed-uninlined-format-args = true

# Other useful settings
# Set cognitive complexity threshold
cognitive-complexity-threshold = 30

# Set max function arguments threshold
too-many-arguments-threshold = 8

# Set maximum lines threshold
too-many-lines-threshold = 200

# Avoid breaking exported API
avoid-breaking-exported-api = true
