.voltage-class {
  .vtable {
    display: flex;
    flex-direction: column;
    height: 100%;

    .vtable__header {
      display: flex;
      align-items: center;
      background: rgba(58, 82, 121, 0.8);
      color: #fff;
      border-bottom: 0.01rem solid rgba(255, 255, 255, 0.1);
      height: 0.4rem;
    }

    .vtable__body {
      flex: 1;
      overflow: auto;

      .vtable__row {
        display: flex;
        align-items: center;
        // height: 0.4rem;
        border-bottom: 0.01rem solid rgba(255, 255, 255, 0.05);

        &:hover {
          background: rgba(64, 158, 255, 0.1);
        }
      }
      .vue-recycle-scroller__item-wrapper {
        overflow: visible !important;
      }

      // 让带有这个类名的元素的z-index依次减少
      .vue-recycle-scroller__item-view {
        overflow: visible !important;
        // 通过 nth-child 实现递减 z-index
        z-index: 100;
        @for $i from 1 through 40 {
          &:nth-child(#{$i}) {
            z-index: #{100 - $i};
          }
        }
        .el-select__popper.el-popper {
          top: 0.44rem !important;
        }
      }
    }

    .vtable__cell {
      color: #fff;
      display: flex;
      align-items: center;
      word-break: break-all;
      white-space: normal;
      padding: 0.09rem 0.12rem;
      line-height: 0.22rem;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      transition: all 0.3s ease-in-out;
      &:last-child {
        flex: 1 !important;
        width: unset !important;
      }
      &.vtable__cell--name {
        width: 50%;
      }
      &.vtable__cell--value {
        width: 25%;
      }
      &.vtable__cell--unit {
        width: 25%;
      }
      &.vtable__cell--status {
        width: 50%;
      }
    }
  }
}
