[package]
name = "comsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "comsrv"
path = "src/lib.rs"

[[bin]]
name = "comsrv"
path = "src/main.rs"

[[bin]]
name = "stress_tests_runner"
path = "tests/stress_tests_runner.rs"

[[bin]]
name = "redis_test"
path = "src/bin/redis_test.rs"

[[bin]]
name = "data_simulator"
path = "src/bin/data_simulator.rs"

[dependencies]
tokio = { version = "1.35", features = ["full"] }
log = "0.4"
env_logger = "0.10"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_yaml = "0.9"
serde_json = "1.0"
csv = "1.2"
thiserror = "1.0"
anyhow = "1.0"
tokio-serial = "5.4"
warp = "0.3"
chrono = { version = "0.4", features = ["serde"] }
dashmap = { version = "5.5", features = ["serde"] }
ahash = "0.8"
hex = "0.4"
async-trait = "0.1"
futures = "0.3"

dotenv = "0.15"
clap = { version = "4.0", features = ["derive"] }

lazy_static = "1.4"

redis = { version = "0.22", features = ["tokio-comp", "async-std-comp"] }
byteorder = "1.4"
parking_lot = "0.12"
crossbeam = "0.8"
bytes = "1.5"
tokio-util = { version = "0.7", features = ["codec"] }
smallvec = "1.11"
once_cell = "1.19"
voltage_modbus = "0.2.1"
rand = "0.8"
regex = "1.10"

[dev-dependencies]
tokio-test = "0.4"
mockall = "0.12"
tempfile = "3.9"
criterion = "0.5"
async-trait = "0.1"


[features]
default = []
can = []
iec60870 = []


