// Montserrat 字体引入 - 使用本地字体文件
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('../../fonts/Arimo-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url('../../fonts/Arimo-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}
